.heading {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    position: relative;
    top: 2%; 
    padding: 10px;
}
.ButtonNext {
    text-align: center;
    position: absolute;
}